# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Test outputs
results/
USB_results/

# Tools and binaries
tools/

# Archives
archive/